body{
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0; 
    
}

div{
    background-color: rgb(154, 90, 214);
    margin: 0 auto;

}
#letra{
    color: white;
    font-size: 30px;
}

#letra{
    color: white;
    font-size: 40px;
}

#letra2{
    color: white;
    font-size: 30px;
}
@media only screen and (min-width: 600px) {
    div{
        background-color: rgb(10, 188, 194);
        text-align: center;
    }

   img {
        width: 150px;
        padding: 0 20px;
        border-radius: 50%;
        position: relative;
        left: 500px;
        top: 50%;
        transform: translate(-0%, -50%);
    }
    
    nav ul{
        width: 100px;
        text-align: start;
        
    }
    
    nav ul li a{
        color: white;
        width: 30px;
        font: small-caps 100%/200% serif;
        text-align: start;
     
    }
    .mob{
        display: none;
    }
     
}
/*cuadros*/
#habilidades {
    text-align: center;
}

#habilidades h1 {
    margin-bottom: 10px;
}

#habilidades .fila {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#habilidades ul {
    list-style: none;
    padding: 0;
}

#habilidades li {
    background-color: black;
    border: 1px solid black;
    padding: 5px;
    margin: 0 5px; 
    width: 100px;
}

#habilidades li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#habilidades li:hover {
    background-color: red;
}
